VITE_SUPABASE_URL=https://xxwfknicfzizofofihwm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh4d2ZrbmljZnppem9mb2ZpaHdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3MzI3OTksImV4cCI6MjA5MjMwODc5OX0.lmTar16_FEsgFK8vIErsSAmk2Q-xyvFxw4w0LEZXz4E
